<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css" />
    <title>Document</title>
</head>
<body> 
    <%- include('header'); -%>
    <h1 id="ah1">THE BLOG ROCKET </h1>
    <p id="ap">
        The Blog Rocket For Publishing & reading Micro blogs.
        This is a Simple fully functional Web-Site Project.
        This project is Completely built on Js Stack for Backend.
        This project is application of skillset for Web-development.
        The Technology used for this project are -
        <ul id="ull">
            <li>For Front-end : Template engine EJS, HTML, CSS & Js .</li>
            <li>For Back-end : Web-framework ExpressJs,NodeJs .</li>
            <li>Database : MongoDB</li>
        </ul>
    </p>
</body>
</html>