<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/card.css" />
    <link rel="stylesheet" href="/css/dash.css" />
    <title>The Blog Rocket</title>
</head>
<body>
    <%- include('header'); -%>
    <div id="dash">
        <h1>Dashboard User : <%=user.name%></h1>
        <form id="article" method="post" action="/articles/posts">
            <label>Post Micro Blog :</label><br>
            <div id="nameinit"><p id="init"><%=user.name.substring(0,1)%></p></div>
            <textarea id="title" name="title" maxlength="50" placeholder="title"></textarea>
            <textarea id="mbody" name="mbody" maxlength="160" placeholder="body"></textarea><br>
            <label>Note :The Title accepts 50 character and body accepts 160 characters</label><br>
            <button id="post">Post</button>
        </form>
        <button id="logout"><a href="/articles/logout">Logout</a></button>
        <button id="edit"><a href="/edit">Delete Post</a></button>
        <button id="feed"><a href="/feed">Feed</a></button>
    </div>
</body>
</html>